Skip to content
 This repository
Explore
Gist
Blog
Help
iLibellus iLibellus
 
1  Watch 
  Star 2
 Fork 1glamvu/glamvu
 branch: master  glamvu/web-app/css/main.css
Markus Schneiderschneidermatic on 27 Apr 2014 Style for content box was modified.
1 contributor
198 lines (171 sloc)  3.502 kb RawBlameHistory   
/*----- Home Page -----*/
html, body {
	background-color: #FAFAFA;
	background-image: url("../images/body-bg.png");
	height: 100%;
}

/*----- Header -----*/
.navbar-brand-font  {
	font-size: 1.2em;
	font-family: 'Michroma', serif;
	padding-top: 0.75em;
}

.navbar-space-left {
	margin-left: 1.2em;
}

/*----- Footer -----*/
#wrap {
    height: auto !important;
    margin: 0 auto -30px;
    min-height: 100%;
    padding: 0 0 60px;
}
#footer {
    background-color: #222222;
    height: 90px;
}
#wrap > .container {
    padding: 60px 15px 0;
}
.container .credit {
    margin: 20px 0;
}
#footer > .container {
	color: #666666;
    padding-left: 15px;
    padding-right: 15px;
}

#footer > .container > .row {
	margin-top: 10px;
}

code {
    font-size: 80%;
}
 
/*----- Show -----*/
.fieldcontain label,
.fieldcontain .property-label {
	color: #666666;
	text-align: right;
	width: 12%;
}

.fieldcontain .property-label {
	float: left;
}

.fieldcontain .property-value {
	display: block;
	margin-left: 14%;
}

.required-indicator {
	color: #F78457;
	display: inline-block;
	font-weight: bold;
	margin-left: 0.3em;
	position: relative;
	top: 0.1em;
}

/*----- Table -----*/
th {
	background-color: #F2F2F2;
	color: #2A6496;
	font-weight: bold;
	line-height: 1.7em;
	padding: 0.2em 0.6em;
}

thead th {
	white-space: nowrap;
}

tbody tr td {
	vertical-align: middle;
}

th a {
	display: block;
	text-decoration: none;
}

th.sortable a {
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 1.1em;
}

th.asc a {
	background-image: url(../images/skin/sorted_asc.gif);
}

th.desc a {
	background-image: url(../images/skin/sorted_desc.gif);
}

.borderless td {
	border: 0px !important;
}

/*----- Pagination -----*/
.pagination a[href="#"] {
	display: none;
}


/*----- Page Content -----*/
.page-content > .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 30px;
}

/*----- Content Box -----*/
.content-box, .content-box-large {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    margin-bottom: 10px;
    padding: 5px;
}
.content-box-large {
    padding: 20px;
}
.box-with-header {
    border-top: medium none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.content-box-header {
    background: none repeat scroll 0 0 #F5F5F5;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 16px;
    min-height: 40px;
    padding: 10px;
}
.content-box-header:after {
    clear: both;
}

/*----- Panel -----*/
.panel-heading > .panel-title, .content-box-header .panel-title {
    float: left;
    padding: 0 15px 10px;
}
.panel-heading > .panel-title > *, .content-box-header .panel-title > * {
    margin: 0;
}
.panel-heading > .panel-title > span, .content-box-header .panel-title > span {
    font-weight: normal;
}
.panel-heading > .panel-options, .content-box-header .panel-options {
    float: right;
    padding-right: 15px;
}
.panel-heading > .panel-options > a, .content-box-header .panel-options > a {
    margin-top: 10px;
}
.panel-body {
    clear: both;
}

/*----- Alert -----*/
.alert-summary td {
   text-align: center;  
   font-size: 1.2em; 
}

/*----- Total -----*/
.Total {
	background-color: #F2F2F2;
    color: #000000;
}


Status API Training Shop Blog About
© 2015 GitHub, Inc. Terms Privacy Security Contact
